<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h1>Nicolas Cage</h1>
    
        <p>Nicolas Kim Coppola (born January 7, 1964),known professionally as Nicolas Cage, is an American actor and
            filmmaker. Born into the Coppola family, Cage is the recipient of various accolades, including an Academy
            Award,
            a Screen Actors Guild Award, and a Golden Globe Award.
            <br>
            During the early years of his career, Cage starred in a variety of films such as Rumble Fish (1983), Racing
            with
            the Moon (1984), Peggy Sue Got Married (1986), Raising Arizona (1987), Vampire's Kiss (1989), Wild at Heart
            (1990), Honeymoon in Vegas (1992), and Red Rock West (1993). During this period, John Willis' Screen World,
            Vol.
            36 listed him as one of twelve Promising New Actors of 1984. For his performance in Leaving Las Vegas
            (1995), he
            won the Academy Award for Best Actor. He received his second Academy Award nomination for his performance as
            Charlie and Donald Kaufman in Adaptation (2002). He subsequently appeared in more mainstream films, such as
            The
            Rock (1996), Con Air (1997), City of Angels (1998), 8mm (1999), Windtalkers (2002), Lord of War (2005), The
            Wicker Man (2006), Bangkok Dangerous (2008) and Knowing (2009). He also directed the film Sonny (2002), for
            which he was nominated for Grand Special Prize at Deauville Film Festival. Cage owns the production company
            Saturn Films and has produced films such as Shadow of the Vampire (2000) and The Life of David Gale (2003).
            In
            October 1997, Cage was ranked No. 40 in Empire magazine's The Top 100 Movie Stars of All Time list, while
            the
            next year, he was placed No. 37 in Premiere's 100 most powerful people in Hollywood.
            <br>
            In the 2010s, he starred in Kick-Ass (2010), Drive Angry (2011), Joe (2013), The Runner (2015), Dog Eat Dog
            (2016), Mom and Dad (2017), Mandy (2018), Spider-Man: Into the Spider-Verse (2018), and Color Out of Space
            (2019). His participation in various film genres during this time increased his popularity and gained him a
            cult
            following.
        </p>
    
    <div>
        <img src="/img/cage1.jpeg">
    </div>
    <a class="home-about" href="/">Home</a>
</body>

</html>