<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div>
        <h1>Some of Nicolas Cages movies</h1>
        <ul>
            <li>Leaving Las Vegas</li>
            <li>Italian Soldiers</li>
            <li>Adaptation.</li>
            <li>Lord of War</li>
            <li>Too Tough to Die: A Tribute to Johnny Ramone</li>
            <li>Grindhouse</li>
            <li>Kick-Ass</li>
        </ul>
    </div>
</body>

</html>